.caro_bg{
    background-color: #fceae8;
    border-radius: 15px;
}
.price{
    color:cornflowerblue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
}
.cat1{
    background-color:orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.text-muted{
    margin: 0 30px;
}
.subscribe{
    background-color: #fceae8;
    height: 200px;
}
.linkItem{
    text-decoration: none;
    font-size: 35px;
    color: white;
}